:root{
    --dark-color: #1f2022ff;
    --darkLight-color: #2b2d31ff;
    --light-color: #303338ff;
    --lightLight-color: #383a40ff;
}

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #ffffffff;
}

h2{
    color: #ffffffff;
    font-size: 15px;
}

h3{
    color: #868c94ff;
    font-size: 10px;
}

.topBar{
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.mainSection{
    grid-row: 2/4;
    grid-column: 1 / 5;
}

.main{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.login{
    display: none;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background-color: var(--light-color);
}

.container{
    display: grid;
    grid-template-columns: 80px 250px 1fr 250px;
    grid-template-rows: 9px calc(100vh - 109px) 100px;
    grid-auto-flow: dense;
}

.loginBox{
    display: none;
    background-color: var(--darkLight-color);
    border-color: var(--darkLight-color);
    border-width: 5%;
    border-radius: 10px;
    height: 60vh;
    width: 40vw;
    position: absolute;
    left: 30vw;
    top: 20vh;
}

.loginPageButton{
    background-color: #00000000;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    outline-width: 0px;
    transition: 0.125s;
}

.loginPageButton:hover, :focus{
    background-color: var(--dark-color);
}

.loginText{
    color: #ffffffff;
    margin: 0px;
    font-size: 100%;
}

.loginInputs{
    background-color: var(--light-color);
    position: absolute;
    left: 20%;
    top: 6.875%;
    margin-top: 5%;
    width: 60%;
    height: 75%;
    overflow: auto;
    border-radius: 10px;
}

.loginInput{
    background-color: var(--darkLight-color);
    height: 50px;
    width: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

.loginTextInput{
    color: #ffffffff;
    margin: 0px;
    height: 100%;
    width: 100%;
    outline-width: 0px;
    border-width: 0px;
    background-color: #00000000;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
}

.loginTextInput::-ms-reveal{
    display: none;
}

.loginInputSeperator{
    height: 10px;
    border-radius: 5px;
    background-color: var(--dark-color);
    border: none;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.createAccountBox{
    display: block;
    background-color: var(--darkLight-color);
    border-color: var(--darkLight-color);
    border-width: 5%;
    border-radius: 10px;
    height: 60vh;
    width: 40vw;
    position: absolute;
    left: 30vw;
    top: 20vh;
}

.createAccountInputs{
    background-color: var(--light-color);
    position: absolute;
    left: 20%;
    top: 6.875%;
    margin-top: 5%;
    width: 60%;
    height: 75%;
    overflow: auto;
    border-radius: 10px;
}

.createAccountInput{
    background-color: var(--darkLight-color);
    height: 50px;
    width: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

.createAcountTextInput{
    color: #ffffffff;
    margin: 0px;
    height: 100%;
    width: 100%;
    outline-width: 0px;
    border-width: 0px;
    background-color: #00000000;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
}

.createAccountButtonFrame{
    background-color: var(--darkLight-color);
    height: 50px;
    width: 96%;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

table, th, td {
    border:0px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    outline-width: 0px;
    border-width: 0px;
    padding: 0px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 0px;
    color: #f0f0f0ff;
}

.message{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.messagePFP{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-width: 0px;
    vertical-align: top;
}

.messageUsername{
    margin-bottom: 0px;
    margin-top: 0px;
}

.messageDate{
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.messageTime{
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.messageText{
    font-size: 15px
}

.unSeenMessage{
    float: left;
    content: url(images/unSeenMessage.png);
    height: 8px;
    width: 8px;
    margin-top: 27.5px;
    transition: 0.2s;
}

.unSeenMessageHovered{
    float: left;
    content: url(images/unSeenMessageHovered.png);
    height: 24px;
    width: 8px;
    margin-top: 20px;
    transition: 0.2s;
}

.SeenMessage{
    float: left;
    content: url(images/unSeenMessage.png);
    height: 0px;
    width: 0px;
    margin-top: 30px;
    transition: 0.2s;
}

.SeenMessageHovered{
    float: left;
    content: url(images/unSeenMessageHovered.png);
    height: 24px;
    width: 8px;
    margin-top: 25px;
    transition: 0.2s;
}

body{
    background-color: #ffffff;
    overflow: hidden;
}

.ServerList{
    background-color: var(--dark-color);
    padding: 0px;
    grid-row: 2 / 4;
    grid-column: 1 / 1;
    z-index: 100;
}

.customServerList{
    width: 100%;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #00000000;
}

.serverListItem{
    width: 100%;
    height: 60px;
}

.serverButton{
    color: #000000FF;
    position: relative;
    margin-top: 6px;
    margin-right: 15px;
    border-width: 0px;
    margin-bottom: 10px;
    padding: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 50px;
    transition: 0.2s;
    float: right;
}

.dmButton{
    background-image: url(images/dmIcon.png);
}

.dmButton:hover{
    background-image: url(images/dmHoveredIcon.png);
}

.DmThread{
    height: 55px;
    width: 240px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 0px;
    border-width: 0px;
    background-color: #36373c00;
    align-content: center;
    transition: 0.125s;
}

.DmThread:hover{
    background-color: #36373cff;
}

.DmUserName{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.DmPFP{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0px;
    outline-width: 0px;
    margin-left: 5px;
    margin-top: 2.5px;
    float: left;
}

.serverButton:hover{
    border-radius: 30%;
}

.createServerButton{
    background-image: url(images/createServerIcon.png);
}

.createServerButton:hover{
    background-image: url(images/createServerHoveredIcon.png);
}

.exploreServersButton{
    background-image: url(images/exploreServersIcon.png);
}

.exploreServersButton:hover{
    background-image: url(images/exploreServersHoveredIcon.png);
} 

.MessageList{
    background-color: var(--darkLight-color);
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.MessageThread{
    background-color: var(--light-color);
    overflow-wrap: break-word;
    overflow-y: auto;
    grid-row: 2/3;
    grid-column: 3/4;
}

.MessageThreadInputBox{
    top: calc(100% - 100px);
    background-color: var(--light-color);
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MessageThreadInput{
    display: flex;
    background-color: var(--lightLight-color);
    height: 50px;
    border-radius: 10px;
    width: 95%;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
}

.MessageThreadTextInput{
    border-radius: 15px;
    background-color: #00000000;
    border-color: white;
    border-style: solid;
    height: 60%;
    width: 80%;
    max-width: 80%;
    max-height: 60%;
    outline: 0px;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    border-width: 0px;
    color: #f0f0f0ff;
    font-size: 20px;
}

.MessageThreadTextInput:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #00000000 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333; /* Change the text color */
    background-color: #00000000;
}

.MessageThreadTextInput:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #00000000 inset; /* Your custom box-shadow */
    -webkit-text-fill-color: #333; /* Text color when focused */
    background-color: #00000000;
}

.Members{
    background-color: var(--darkLight-color);
    grid-row: 2/ 4;
    grid-column: 4 / 5;
}

.accountInfo{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    left: 80px;
    bottom: 0px;
    width: 250px;
    height: 60px;
    background-color: var(--dark-color);
    align-self: flex-end;
    align-items: center;
    border-width: 0px;
    padding: 0px;
    transition: 0.15s;
}

.accountInfo:hover{
    background-color: var(--light-color);
}

.accountInfoPFP{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0px;
    outline-width: 0px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
}

.accountInfoText{
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 50px;
    width: 150px;
}

.accountInfoSecondBox{
    width: 200px;
}

.accountInfoLoggoutButtonText{
    font-size: 10px;
    color: #ffffffff;
}

::-webkit-scrollbar {
    width: 6px;
    padding: 10px;
    background: var(--light-color);
}

::-webkit-scrollbar-track {
    background: var(--darkLight-color);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-color);
    border-radius: 5px;
    width: 80%;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-color);
}

.settings{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: var(--darkLight-color);
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.loggoutButton{
    height: 20vh;
    width: 20vw;
    border-radius: 20px;
    border-width: 0px;
    background-color: var(--light-color);
    align-items: center;
    align-self: center;
    position: absolute;
    left: 40vw;
    top: 40vh;
    margin: 0px;
}