*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #ffffffff;
}

h2{
    color: #ffffffff;
    font-size: 15px;
}

h3{
    color: #868c94ff;
    font-size: 10px;
}

.main{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.login{
    display: none;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background-color: #303338ff;
}

.loginBox{
    background-color: #2b2d31ff;
    border-color: #2b2d31ff;
    border-width: 5%;
    border-radius: 10px;
    height: 40vh;
    width: 40vw;
    position: absolute;
    left: 30vw;
    top: 30vh;
}

.loginButton{
    background-color: #00000000;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    outline-width: 0px;
}

.loginText{
    color: #ffffffff;
    margin: 0px;
}

.createAccountButton{
    background-color: #00000000;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    outline-width: 0px;
}

.loginInputs{
    background-color: #303338ff;
    position: absolute;
    left: 20%;
    top: 15%;
    margin-top: 5%;
    width: 60%;
    height: 65%;
    overflow: hidden;
    border-radius: 10px;
}

.loginInput{
    background-color: #2b2d31ff;
    height: 50px;
    width: 96%;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

.loginTextInput{
    color: #ffffffff;
    margin: 0px;
    height: 100%;
    width: 100%;
    outline-width: 0px;
    border-width: 0px;
    background-color: #00000000;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
}

.createAccountInput{
    background-color: #2b2d31ff;
    height: 50px;
    width: 96%;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

table, th, td {
    border:0px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    outline-width: 0px;
    border-width: 0px;
    padding: 0px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 0px;
    color: #f0f0f0ff;
}

.message{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: inline-block;
}

.messagePFP{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-width: 0px;
    vertical-align: top;
}

.messageUsername{
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

.messageDate{
    float: left;
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.messageTime{
    float: left;
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.messageBody{

}

.MessageGroup{

}

.unSeenMessage{
    float: left;
    content: url(images/unSeenMessage.png);
    height: 8px;
    width: 8px;
    margin-top: 27.5px;
    transition: 0.2s;
}

.unSeenMessageHovered{
    float: left;
    content: url(images/unSeenMessageHovered.png);
    height: 24px;
    width: 8px;
    margin-top: 20px;
    transition: 0.2s;
}

.SeenMessage{
    float: left;
    content: url(images/unSeenMessage.png);
    height: 0px;
    width: 0px;
    margin-top: 30px;
    transition: 0.2s;
}

.SeenMessageHovered{
    float: left;
    content: url(images/unSeenMessageHovered.png);
    height: 24px;
    width: 8px;
    margin-top: 25px;
    transition: 0.2s;
}

body{
    background-color: #ffffff;
}

.ServerList{
    background-color: #1f2022ff;
    float: left;
    padding: 0px;
    height: 100vh;
    width: 100%;
}

.customServerList{
    height: 100%;
    width: 100%;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #00000000;
}

.serverListItem{
    width: 100%;
    height: 60px;
}

.serverButton{
    color: #000000FF;
    position: relative;
    margin-top: 6px;
    margin-right: 15px;
    border-width: 0px;
    margin-bottom: 10px;
    padding: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 50px;
    transition: 0.2s;
    float: right;
}

.dmButton{
    background-image: url(images/dmIcon.png);
}

.dmButton:hover{
    background-image: url(images/dmHoveredIcon.png);
}

.DmThread{
    height: 55px;
    width: 240px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 0px;
    border-width: 0px;
    background-color: #36373c00;
    align-content: center;
    transition: 0.125s;
}

.DmThread:hover{
    background-color: #36373cff;
}

.DmUserName{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.DmPFP{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0px;
    outline-width: 0px;
    margin-left: 5px;
    margin-top: 2.5px;
    float: left;
}

.serverButton:hover{
    border-radius: 30%;
}

.createServerButton{
    background-image: url(images/createServerIcon.png);
}

.createServerButton:hover{
    background-image: url(images/createServerHoveredIcon.png);
}

.exploreServersButton{
    background-image: url(images/exploreServersIcon.png);
}

.exploreServersButton:hover{
    background-image: url(images/exploreServersHoveredIcon.png);
} 

.MessageList{
    background-color: #2b2d31ff;
    float: left;
    padding: 0px;
    height: 100vh;
    padding: 0px;
    width: 100%;
}

.MessageThread{
    background-color: #303338ff;
    float: left;
    padding: 0px;
    height: 100vh;
    overflow-wrap: break-word;
    overflow-y: auto;
    padding: 0px;
    width: 100%;
}

.Members{
    background-color: #2b2d31ff;
    float: right;
    height: 100vh;
    padding: 0px;
    width: 100%;
}

.accountInfo{
    position: absolute;
    left: 80px;
    bottom: 0px;
    width: 250px;
    height: 60px;
    vertical-align: bottom;
    background-color: #1f2022ff;

    align-items: center;
}

.accountInfoPFP{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0px;
    outline-width: 0px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.accountInfoText{
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 50px;
}


::-webkit-scrollbar {
    width: 6px;
    padding: 10px;
    background: #303338ff;
}

::-webkit-scrollbar-track {
    background: #2b2d31ff;
}

::-webkit-scrollbar-thumb {
    background: #1f2022ff;
    border-radius: 5px;
    width: 80%;
}

::-webkit-scrollbar-thumb:hover {
    background: #1f2022ff;
}